---
- name: Assert requirements are met
  ansible.builtin.assert:
    that:
      - ansible_architecture == 'x86_64'
      - ansible_os_family | lower == 'redhat'
    fail_msg: "This role only supports x86_64 architecture on RedHat-based systems."
  tags: requirements

- name: Scan for PCI Devices
  ansible.builtin.command:
    cmd: lspci
  register: lspci_out
  changed_when: false
  failed_when: false

- name: Detect NVIDIA GPU
  ansible.builtin.set_fact:
    has_gpu: "{{ lspci_out.stdout is search('P1000|A5000', ignorecase=True) }}"

- name: Ensure the Nouveau Driver is disabled
  community.general.modprobe:
    name: nouveau
    state: absent
  when:
    - has_gpu

- name: Blacklist Nouveau Driver
  ansible.builtin.copy:
    src: files/nvidia-installer-disable-nouveau.conf
    dest: "{{ item.dest }}/nvidia-installer-disable-nouveau.conf"
    owner: root
    group: root
    mode: '0644'
  with_items:
    - { dest: '/usr/lib/modprobe.d' }
    - { dest: '/etc/modprobe.d' }
  when:
    - has_gpu

- name: Ensure required software packages are installed
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: present
  loop:
    - kernel-devel
    - kernel-headers
    - kernel-modules
    - kernel-modules-core
    - kernel-modules-extra
    - kernel-tools
    - kernel-tools-libs
    - kernel-tools-libs-devel
    - libglvnd
    - libglvnd-core-devel
    - libglvnd-devel
    - libpkgconf
    - nvtop
    - pkgconf
    - pkgconf-pkg-config
    - python3-pkgconfig
    - xorg-x11-drv-nvidia
    - xorg-x11-drv-nvidia-cuda
    - xorg-x11-drv-nvidia-cuda-libs
    - xorg-x11-drv-nvidia-devel
    - xorg-x11-drv-nvidia-libs
  when:
    - has_gpu
  tags: software
...
